*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-body: 'Inter', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-display: 'Archivo', sans-serif;
  --black: #0d0d0d;
  --white: #ffffff;
  --gray: #8b8f94 ;
  --green: #4e9b6b;
  --amber: #d98b3e;
}

